CI_ENVIRONMENT = production
app.baseURL = 'http://localhost:8080/'
app.forceGlobalSecureRequests = false

database.default.hostname = localhost
database.default.database = clinic_ci4
database.default.username = root
database.default.password = 
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306
database.default.charset = utf8mb4
database.default.DBCollat = utf8mb4_unicode_ci

session.driver = 'CodeIgniter\Session\Handlers\FileHandler'
session.cookieName = 'clinic_session'
session.expiration = 7200
session.savePath = null
session.matchIP = false
session.timeToUpdate = 300
session.regenerateDestroy = true

security.csrfProtection = 'session'
security.tokenRandomize = true
security.regenerate = true

cardReader.serviceUrl = 'http://127.0.0.1:8787'
